<!DOCTYPE html> 
<html lang="en">
<head>  
	<meta charset="utf-8"> 
	<title>Hotel California</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head> 

<body>
    <div class="mainDiv">
        <div class="logoNavCont">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
            </div>
            
            <div id="navBar">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="attractions">Local Attractions</a></li>
					<li><a href="rooms">Rooms</a></li>
                    <li><a href="booking">Book a room</a></li>
					<li><a href="review">Reviews/Comments</a></li>
					<li><a href="contact">Contact Us</a></li>
                </ul>
            </div>
			<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
        
        </div>
        
        <div class="main"> 
			<div class="content">
				<div class="contentleft">
					<img src="{{ url_for('static', filename='images/single.jpg') }}" alt="Single">
				</div>
				<h1>Single bed</h1>
				<ul class="listStyle">
					<li>Tv with Freeview</li>
					<li>Set of fresh white towels</li>
					<li>Spacious desk</li>
					<li>Tea and coffee making facilities</li>
					<li>Hand, hair & body wash</li>
					<li>En-suite</li>
				</ul>
				
				<p>Our single rooms are designed to as comfortable as possible
				for the busy individual looking to relax and make the most of their 
				time with us.
				To find out more, speak to your hotel direct.
				</p>
			</div>
			
			<div class="content">
				<div class="contentright">
					<img src="{{ url_for('static', filename='images/twin.jpg') }}" alt="Twin">
				</div>
				<h1>Twin bed</h1>
				<ul class="listStyle">
					<li>Tv with Freeview</li>
					<li>Set of fresh white towels</li>
					<li>Spacious desk</li>
					<li>Tea and coffee making facilities</li>
					<li>Hand, hair & body wash</li>
					<li>En-suite</li>
				</ul>
				
				<p>Our twin rooms are designed to be as flexible as possible 
				– so they come in different formats. Most feature a super-comfy
				double or kingsize* Hypnos bed plus a single sofa bed.
				The rest have two double or kingsize* Hypnos beds.
				To find out more, speak to your hotel direct.
				</p>
			</div>
			
			<div class="content">
				<div class="contentleft">
					<img src="{{ url_for('static', filename='images/double.jpg') }}" alt="Double">
				</div>
				<h1> Double bed </h1>
				<ul class="listStyle">
					<li>Tv with Freeview</li>
					<li>Set of fresh white towels</li>
					<li>Spacious desk</li>
					<li>Tea and coffee making facilities</li>
					<li>Hand, hair & body wash</li>
					<li>En-suite</li>
				</ul>
				
				<p>Our double rooms feature a super-comfy double* 
				Hypnos bed, a toasty duvet and choice of firm and
				soft pillows to help ensure you have a fantastic 
				night’s sleep.
				</p>
			</div>
			
			<div class="content">
				<div class="contentright">
					<img src="{{ url_for('static', filename='images/king.jpg') }}" alt="King">
				</div>
				<h1> King sized bed </h1>
				<ul class="listStyle">
					<li>Tv with Freeview</li>
					<li>Set of fresh white towels</li>
					<li>Spacious desk</li>
					<li>Tea and coffee making facilities</li>
					<li>Hand, hair & body wash</li>
					<li>En-suite</li>
				</ul>
				
				<p>Our spacious King rooms accommodate up to two adults.
				Most of our family rooms
				feature a super-comfy kingsize* Hypnos bed.
				</p>
			</div>
		</div>
        
        <footer class="footer">
            <div class="footercontainer">
                <div class="footerfloats1">
                    <div class="footerfloats2">
                        <ul>
                            <li> <a href="home"> Home </a> </li>
                            <li> <a href="attractions"> Local Attractions </a> </li>
                            <li> <a href="rooms"> Rooms on offer </a> </li>
                            
                        </ul>
                        <ul>
                            <li> <a href="booking"> Book a Room </a> </li>
                            <li> <a href="review"> Reviews and Comments </a> </li>
                            <li> <a href="Contact"> Contact us </a> </li>
                        </ul>
                    </div>
                </div>
                        
                <div class="footerfloats1">
                    <p> &copy; Student: 100184794 + 100178609 - 2017 </p>
                    <p> Web Programming Coursework </p>
                </div>
                
                <div class="footerfloats1">
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img 	style="border:0;width:88px;height:31px"
                                    src="http://jigsaw.w3.org/css-validator/images/vcss"
                                    alt="Valid CSS!" 
                            />
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>